@import "constants";

@backcolor: #FDC253;
@backcolorsel: #CA9F4D;

html, body {
  width: 100%;
  height: 100%;
  background: @backcolor;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  //background: url("images/bg_light.png") repeat scroll 0 0 #F3F3F3;
}
h1,h2,h3,h4,p {
  padding:0;
  margin:0;
}
blockquote {
  margin: 5px;
  padding-left: 10px;
  color: #A37979;
  border-left: 1px solid #A37979;
}

@cardW: 290px;
@cardH: 200px;
@border: 15px;

.container {
  box-sizing: border-box;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // align-content: flex-start;
  // justify-content: center;
  text-align: center;
  margin: 17px;
}
.hidden {
  display: none;
}
.cover {
  background-position: center center;
  background-repeat: no-repeat;
  .background-size(cover);
  background-color: black;
}
.nopointer {
  pointer-events: none;
}


.me {
  vertical-align: top;
  padding-top: 35px;
  text-align: center;

  font-style: italic;
  font-weight: 100;
  color: #474747;

  .author {
    margin-bottom: 9px;
  }
  .description {
    margin-top: 9px;
  }
  img {
    width: 22px;
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
  }
}




.card {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: top;

  width: @cardW;
  height: @cardH;
  padding: 0;

  font-size: 1.3em;
  cursor: pointer;
  overflow: hidden;
  background: black;

  .transition(opacity 0.7s);
  &.a {
  }
  &.b {
    //.transition(all 0.2s ease);
  }
  
  &.fadesoft {
    opacity: 0.4;
  }
  &.fadeaway {
    opacity: 0.15;
  }
  &.fadedead {
    opacity: 0.05;
  }


  &.a {
    //.box-shadow(rgba(100, 100, 100, 0.3) 0 2px 6px 0);
    .box-shadow(inset 0px 0px 7px 1px rgba(0, 0, 0, 0.62));
    border: @border solid @backcolor;
    &.opened {
      border: @border solid @backcolorsel;
    }
  }

  .cover {
    z-index:99;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    .transition(transform 0.2s);
  }
  &:hover {
    .cover {
      .transform(scale(1.05));
    }
  }

  .backed {
    background-color: rgba(0, 0, 0, 0.47);
  }
  .closer {
    z-index:170;
    pointer-events: none;
    opacity: 0;
  }
  &.opened {
    .closer {
      opacity:1;
    }
  }
  .opener {
    z-index:170;
    opacity:0;
  }
  &.closed:hover {
    .opener {
      opacity:1;
    }
  }

  .meta {
    z-index:130;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: left;
    background: black;
    opacity: 0;
  }
  &:hover .meta, &.opened .meta {
    opacity: 1; 
  }

  .title {
    top:0;
    padding: 8px 12px;

    font-weight: normal;
    color: white;
    font-size: 0.9rem;
  }

  .subtitle {
    bottom:0px;

    font-style: italic;
    background: rgba(0, 0, 0, 0.6);
    color: #DADADA;
    padding: 8px 12px;
    font-size: 0.7rem;
  }
  .text {
    @textpad: 17px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: @textpad;
    right: -2*@textpad;
    bottom: @textpad;
    top: @textpad;
    padding-right: 2*@textpad;

    text-align: left;
    font-size: 0.8rem;
    background: black;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    a {
      color: #A8A8A8;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .cover {
      height: 100%;
      .transition(transform 0.2s);
    }
    &:hover {
      .cover {
        .transform(scale(1.05));
      }
    }
  }
  img.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    .transform(translateX(-50%) translateY(-50%));
  }
  .iframe {

  }
  .vimeo {

  }
  .redirect {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 0.6rem;
    text-align: center;
    color:grey;
    .info {
      box-sizing: border-box;
      position: absolute;
      bottom:0;
      width: 100%;
      padding: 12px;
    }
    &:hover {
      color:white;
    }
  }
}

/* B PREVIEW */
.card.b.opened {
  // .transform(scale(3));
  .img .cover {
    .transform(scale(1));
  }
  // float: left;
  z-index: 99999;
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  // height: 500px;
  border: @border solid @backcolor;
  //border-bottom: @border solid @backcolor;
  // border: 17px solid @backcolor;
  .cover {
    .background-size(contain);
  }
}


.card.ng-enter {
  //.transform(perspective(3000px) rotateY(-90deg) scale(0.5));
  overflow: hidden;
  width: 0;
}
.card.ng-enter-active, .card.ng-leave {
  //.transform(perspective(3000px) rotateY(0) scale(1));
  width: @cardW;
}
.card.ng-leave-active {
  //.transform(perspective(3000px) rotateY(-90deg) scale(0.5));
  overflow: hidden;
  width: 0;
}