
<div class="container">
  
  
  <!-- ———————————————— THE ARTICLE COVER -->
  <div class="hidden" ng-repeat-start="a in root.children"></div><div
    class="card a"
    ng-class="{
      opened:a.opened,
      nowed:now.a==$index,
      fadesoft:now.a==$index && now.b!=-1,
      fadeaway:now.a!=$index && now.a!=-1,
      fadedead:now.a!=$index && now.b!=-1}"
    ng-click="clickA(a,$index);">
    <div class="closer">
      <img class="centered" src="images/ic_close.svg">
    </div>
    <div ng-if="a.title" class="title meta">{{a.title}}</div>
    <div ng-if="a.subtitle" class="subtitle meta">{{a.subtitle}}</div>
    <markdown
      ng-if="a.text"
      class="text"
      ng-class="{important:$first}"
      ng-model="a.text">
    </markdown>
    <div ng-class="{cover:a.img}" back-img="{{a.img}}"></div>
  </div><!-- ———————————————— THE CHILDREN --><div
    ng-repeat="b in a.children"
    ng-if="a.opened"
    class="card b {{b.type}}"
    ng-class="{
      last:$last,
      preview:now.b==$index,
      fadesoft:now.b!=$index && now.b!=-1,
      fadedead:now.a!=$parent.$parent.$index}"
    ng-click="b.type!='redirect' && clickB(b,$index);">
    <!-- TEXT CONTENT -->
    <markdown
      ng-if="b.type=='text'"
      class="text"
      ng-model="b.text">
    </markdown>
    <!-- IMAGE -->
    <div
      ng-if="b.type=='img'"
      class="img">
      <div
        class="cover"
        back-img="{{b.img}}">
      </div>
    </div>
    <!-- IFRAME -->
    <img
      ng-if="b.type=='iframe' && now.b!=$index"
      class="centered" src="images/ic_down.svg">
    <iframe
      ng-if="b.type=='iframe' && now.b==$index"
      class="iframe"
      ng-class="{nopointer:now.b!=$index, hidden:now.b!=$index}"
      src="{{b.iframe | allowurl}}" 
      width="100%"
      height="100%"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
    <!-- VIMEO -->
    <iframe
      ng-if="b.type=='vimeo'" class="vimeo"
      ng-class="{nopointer:now.b!=$index}"
      src="{{b.vimeo | allowvimeo}}" 
      width="100%"
      height="100%"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
    <!-- REDIRECT -->
    <a ng-if="b.type=='redirect'" class="redirect" href="{{b.redirect}}" target="_new">
      <img class="centered" src="images/ic_redirect.svg">
      <div class="info">{{b.redirect}}</div>
    </a>
  </div><div class="hidden" ng-repeat-end></div>
</div>